.location {
    margin-top: 13rem;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
    .map {
        width: 73.6%;
        height: 65vh;  
        border-radius: 8px;     
        border: none;
        filter: invert(100%);
    }

    @media(max-width: 1150px) {
        margin-top: 10rem;
    }

    @media(max-width: 650px) {
        margin-top: 7rem;
        .map {
            height: 40vh;  
        }
    }

}