%button {
    font-family: var(--primary-font);
    font-size: 1.25rem;
    outline: none;
    cursor: pointer;
    color: var(--primary-color);
    padding: 8px 5rem 8px 5rem;
    border-radius: 6px;
    border: 1px solid transparent;
    background: linear-gradient(var(--body-color)) padding-box,
    linear-gradient(to right, #5422BE, #E087FD) border-box;
    transition: 0.5s;
    position: relative;
    z-index: 0;

    &:hover {
        box-shadow: 0px 0px 8px 7px #5422BE;
    }

    @media (max-width: 370px) {
        font-size: 1rem;
    }
}

@mixin fonts-line($weight : 0, $size : 1rem, $height : normal) {
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
}

