* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #FFFFFF;
  --secondary-color: #FFFFFFB2;
  --primary-font: "Kanit", sans-serif;
  --body-color: black;
  --sec-card-container: rgba(62, 60, 60, 0.3);
  --sec-card: rgba(142, 141, 141, 0.1);
  --risk-container: rgba(0,0,0,0.3);
  --product-card: #B305E733;
}

body {
  background-color: var(--body-color);
  width: 100%;
}

.light-mode {
  --body-color: white;
  --primary-color: black;
  --secondary-color: black;
  --sec-card-container: rgb(246, 243, 255);
  --risk-container: rgb(246, 243, 255, 0.3);
  --sec-card: white;
  --product-card: rgb(246, 243, 255);
}

.dark-mode {
  --body-color: black;
  --primary-color: #FFFFFF;
  --secondary-color: #FFFFFFB2;
  --sec-card-container: rgba(62, 60, 60, 0.3);
  --sec-card: rgba(142, 141, 141, 0.1);
  --risk-container: rgba(0,0,0,0.3);
  --product-card: #B305E733;
}

.courses .course-content button, .hero-section .hero-content .hero-btn {
  font-family: var(--primary-font);
  font-size: 1.25rem;
  outline: none;
  cursor: pointer;
  color: var(--primary-color);
  padding: 8px 5rem 8px 5rem;
  border-radius: 6px;
  border: 1px solid transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--body-color))) padding-box, -webkit-gradient(linear, left top, right top, from(#5422BE), to(#E087FD)) border-box;
  background: linear-gradient(var(--body-color)) padding-box, linear-gradient(to right, #5422BE, #E087FD) border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  z-index: 0;
}
.courses .course-content button:hover, .hero-section .hero-content .hero-btn:hover {
  -webkit-box-shadow: 0px 0px 8px 7px #5422BE;
          box-shadow: 0px 0px 8px 7px #5422BE;
}
@media (max-width: 370px) {
  .courses .course-content button, .hero-section .hero-content .hero-btn {
    font-size: 1rem;
  }
}

.header .header-btns .menu-bars .bar2, .header .header-btns .menu-bars .bar3, .header .header-btns .menu-bars .bar1 {
  width: 2rem;
  height: 0.3rem;
  background-color: var(--primary-color);
  margin: 6px 0;
  border-radius: 2px;
}

.risk-section {
  font-family: var(--primary-font);
  color: var(--primary-color);
  padding-inline: 5rem;
  margin-top: 9rem;
  position: relative;
  z-index: 0;
}
.risk-section::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -7.5rem;
  left: 0rem;
  background: url("./assets/risk-ellipse/Ellipse (5).png") no-repeat left/contain;
  width: 47.5rem;
  height: 47.5rem;
}
.risk-section::after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -10.563rem;
  left: -7.563rem;
  background: url("./assets/risk-ellipse/Ellipse (6).png") no-repeat left/cover;
  width: 32rem;
  height: 49rem;
}
.risk-section .risk-outer-container {
  border-radius: 40px;
  background-color: var(--risk-container);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 5rem 7rem;
  padding-inline: 5rem;
}
.risk-section .risk-outer-container .risk-data {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.risk-section .risk-outer-container .risk-graph {
  width: 60%;
}
.risk-section .risk-outer-container .risk-graph img {
  width: 100%;
}
.risk-section .risk-outer-container .risk-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.6rem;
}
.risk-section .risk-outer-container .risk-heading div {
  padding-bottom: 0.813rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: 500;
  font-size: 2rem;
  line-height: 100%;
}
.risk-section .risk-outer-container .risk-content {
  padding-left: 0.8rem;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 2.344rem;
}
.risk-section .risk-outer-container .risk-value-discription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0.8rem;
  gap: 0.875rem;
}
.risk-section .risk-outer-container .risk-value {
  font-weight: 500;
  font-size: 4rem;
  line-height: 100%;
  border-right: 8px solid #5422BE;
  padding-right: 1.5rem;
}
.risk-section .risk-outer-container .risk-discription {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
}
@media (max-width: 1350px) {
  .risk-section {
    padding-inline: 3rem;
  }
  .risk-section .risk-outer-container {
    padding-inline: 3rem;
  }
}
@media (max-width: 1000px) {
  .risk-section::before {
    width: 22rem;
  }
  .risk-section::after {
    width: 25rem;
  }
  .risk-section .risk-outer-container {
    padding-block: 3rem 0rem;
    row-gap: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .risk-section .risk-outer-container .risk-data {
    width: 100%;
  }
  .risk-section .risk-outer-container .risk-graph {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .risk-section {
    padding-inline: 2rem;
  }
  .risk-section .risk-outer-container {
    padding-inline: 1rem;
  }
  .risk-section .risk-outer-container .risk-heading div {
    font-weight: 0;
    font-size: 1.5rem;
    line-height: normal;
  }
  .risk-section .risk-outer-container .risk-content {
    font-weight: 0;
    font-size: 1rem;
    line-height: normal;
  }
  .risk-section .risk-outer-container .risk-value {
    font-weight: 0;
    font-size: 2rem;
    line-height: normal;
  }
}

.header {
  height: 6rem;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 4rem;
  font-size: 0.875rem;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: var(--body-color);
}
.header .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  font-size: 1rem;
}
.header .nav-list li {
  list-style: none;
}
.header .nav-list li a {
  color: var(--primary-color);
  text-decoration: none;
}
.header .nav-list li a:hover {
  color: rgba(255, 44, 234, 0.7803921569);
}
.header .nav-list li a:focus {
  border-bottom: 3px solid rgba(255, 44, 234, 0.7803921569);
  color: rgba(255, 44, 234, 0.7803921569);
  padding-bottom: 1rem;
}
.header .header-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
.header .header-btns .switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 27px;
}
.header .header-btns .switch input {
  visibility: hidden;
}
.header .header-btns .switch .slider {
  position: absolute;
  background-image: linear-gradient(135deg, #8aaff1 10%, #f9c290 50%, #e4ba17 100%);
  background-size: 100% 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
}
.header .header-btns .switch .slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  right: 5px;
  bottom: 4px;
  background-color: white;
  border-radius: 34px;
  -webkit-transition: 1s;
  transition: 1s;
}
.header .header-btns .switch .slider::after {
  content: "";
  position: absolute;
  height: 11px;
  width: 11px;
  left: 8px;
  top: 5px;
  background-color: rgb(249, 249, 153);
  -webkit-box-shadow: 0px 0px 8px 1px rgb(244, 244, 112);
          box-shadow: 0px 0px 8px 1px rgb(244, 244, 112);
  border-radius: 34px;
  -webkit-transition: 1s;
  transition: 1s;
}
.header .header-btns .switch input:checked + .slider {
  background-image: linear-gradient(135deg, #c33764 20%, #002746 60%, #1d2671 20%);
}
.header .header-btns .switch input:checked + .slider:after {
  -webkit-transform: translateX(43px);
          transform: translateX(43px);
  background-color: white;
}
.header .header-btns .switch input:checked + .slider:before {
  -webkit-transform: translateX(-41px);
          transform: translateX(-41px);
}
.header .header-btns .log-in {
  color: var(--primary-color);
}
.header .header-btns .log-in:hover {
  cursor: default;
}
.header .header-btns .sign-up {
  height: 1.8rem;
  width: 4.688rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 6px;
  background: transparent;
  padding: 0.25rem 0.875rem 0.25rem 0.875rem;
  cursor: pointer;
}
.header .header-btns .menu-bars {
  cursor: pointer;
  display: none;
}
.header .header-btns .menu-bars .bar1 {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header .header-btns .menu-bars .bar3 {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header .header-btns .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-7px, 9px);
          transform: rotate(-45deg) translate(-7px, 9px);
}
.header .header-btns .change .bar2 {
  visibility: hidden;
}
.header .header-btns .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -9px);
          transform: rotate(45deg) translate(-5px, -9px);
}
.header .hidden-slidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  position: fixed;
  z-index: 2;
  padding-left: 3rem;
  padding-top: 6rem;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 17rem;
  background-color: black;
}
.header .hidden-slidebar li {
  list-style: none;
}
.header .hidden-slidebar li a {
  color: white;
  font-family: var(--primary-font);
  text-decoration: none;
}
@media (max-width: 1150px) {
  .header {
    padding-inline: 2rem;
  }
}
@media (max-width: 1050px) {
  .header .nav-list {
    display: none;
  }
  .header .header-btns .menu-bars {
    display: block;
  }
}
@media (max-width: 600px) {
  .header .logo {
    width: 90px;
  }
  .header .header-btns .menu-bars {
    font-size: 1.5rem;
  }
  .header .header-btns .sign-up {
    width: 4rem;
    padding: 0.25rem 0.4rem 0.25rem 0.4rem;
  }
  .header .header-btns .theme {
    width: 55px;
  }
}

.footer {
  color: var(--primary-color);
  font-family: var(--primary-font);
  margin-top: 13rem;
  position: relative;
  z-index: 0;
}
.footer .footer-content {
  margin-inline: 6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10rem 1fr 10rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 10rem;
     -moz-column-gap: 10rem;
          column-gap: 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 0;
}
.footer .footer-content .info p {
  line-height: 1.75rem;
  margin-block: 1rem 2.5rem;
}
.footer .footer-content .info .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.5px solid #3C64B1;
  border-radius: 6px;
  width: 100%;
}
.footer .footer-content .info .email-input {
  background-color: transparent;
  height: 3.125rem;
  width: 24.375rem;
  outline: none;
  border: none;
  font-size: 1rem;
  padding-left: 1.5rem;
  color: #3C64B1;
}
.footer .footer-content .info .email-input::-webkit-input-placeholder {
  color: #3C64B1;
}
.footer .footer-content .info .email-input::-moz-placeholder {
  color: #3C64B1;
}
.footer .footer-content .info .email-input:-ms-input-placeholder {
  color: #3C64B1;
}
.footer .footer-content .info .email-input::-ms-input-placeholder {
  color: #3C64B1;
}
.footer .footer-content .info .email-input::placeholder {
  color: #3C64B1;
}
.footer .footer-content .info .subscribe-btn {
  width: 8.75rem;
  height: 3.125rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#B700E5), to(#8733F3));
  background-image: linear-gradient(to bottom, #B700E5, #8733F3);
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: white;
  font-family: var(--primary-font);
  margin: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.footer .footer-content .info .subscribe-btn:hover {
  -webkit-box-shadow: 0px 0px 5px 4px #5422BE;
          box-shadow: 0px 0px 5px 4px #5422BE;
}
.footer .footer-content .top-links, .footer .footer-content .support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.footer .footer-content .top-links p, .footer .footer-content .support p {
  font-weight: 600;
  color: var(--primary-color);
}
.footer .footer-content .top-links ul, .footer .footer-content .support ul {
  list-style: none;
  font-size: 14px;
}
.footer .footer-content .top-links ul li, .footer .footer-content .support ul li {
  margin-block: 0.5rem;
}
.footer .footer-content .support .join-us {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
}
.footer .footer-content .support .join-us .icons {
  margin-top: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footer-content .support .join-us .icons .fa-brands {
  cursor: pointer;
  padding: 0.5rem;
  background-color: transparent;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 50%;
  -webkit-transition: background-color 0.5s ease-in-out 0.05s;
  transition: background-color 0.5s ease-in-out 0.05s;
}
.footer .footer-content .support .join-us .icons .fa-youtube:hover {
  background-color: #FF0000;
}
.footer .footer-content .support .join-us .icons .fa-facebook-f:hover {
  background-color: #1877F2;
}
.footer .footer-content .support .join-us .icons .fa-twitter:hover {
  background-color: rgb(141, 141, 240);
}
.footer .footer-content .support .join-us .icons .fa-instagram:hover {
  background-color: #fd7b93;
}
.footer .footer-content .support .join-us .icons .fa-linkedin-in:hover {
  background-color: #0A66C2;
}
@media (max-width: 1300px) {
  .footer .footer-content {
    -webkit-column-gap: 5rem;
       -moz-column-gap: 5rem;
            column-gap: 5rem;
    margin-inline: 2rem;
  }
}
@media (max-width: 1030px) {
  .footer .footer-content {
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-inline: 3rem;
    margin-top: 10rem;
  }
  .footer .footer-content .info {
    grid-column-start: span 3;
  }
  .footer .footer-content .info .email-input {
    width: 100%;
  }
}
.footer .copy-rights {
  margin-top: 5.5rem;
  height: 2.875rem;
  width: 100%;
  background-color: #8733F3;
  color: white;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 500px) {
  .footer .copy-rights {
    font-weight: 0;
    font-size: 0.9rem;
    line-height: normal;
  }
}

.products-section {
  margin-top: 11rem;
  padding-inline: 6rem;
  color: var(--primary-color);
  font-family: var(--primary-font);
  position: relative;
  z-index: 0;
}
.products-section::before {
  content: " ";
  position: absolute;
  z-index: -1;
  left: 0rem;
  top: 28.625rem;
  background: url("./assets/product-ellipse/Ellipse (7).png") no-repeat left/cover;
  height: 39.5rem;
  width: 21.5rem;
}
.products-section::after {
  content: " ";
  position: absolute;
  z-index: -1;
  right: 0rem;
  top: 36.375rem;
  background: url("./assets/product-ellipse/Ellipse (8).png") no-repeat right/cover;
  height: 39.5rem;
  width: 21.5rem;
}
.products-section .product-heading {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: center;
  margin-bottom: 3.5rem;
}
.products-section .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}
.products-section .products .product-box {
  border-radius: 6px;
  border: 2px solid #3846C3;
  background-color: var(--product-card);
  -webkit-box-shadow: 6px 6px 30px rgba(246, 14, 223, 0.1490196078);
          box-shadow: 6px 6px 30px rgba(246, 14, 223, 0.1490196078);
  width: 50%;
  min-height: 76.813rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-block: 2rem 2.5rem;
}
.products-section .products .product-box .product-1-logo img {
  height: 4rem;
  padding: 0.6rem;
}
.products-section .products .product-box .product-2-logo img {
  height: 4rem;
}
.products-section .products .product-box .content {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}
.products-section .products .product-box .content .product-preview {
  width: 80%;
}
.products-section .products .product-box .content p {
  text-align: start;
  padding-block: 1.5rem;
  padding-inline: 5rem;
}
.products-section .products .product-box .started-btn {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#5422BE), to(#E087FD));
  background-image: linear-gradient(to right, #5422BE, #E087FD);
  font-family: var(--primary-font);
  color: white;
  width: 80%;
  min-height: 3.5rem;
  border-radius: 6px;
  border: none;
  margin-top: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.products-section .products .product-box .started-btn:hover {
  -webkit-box-shadow: 0px 0px 5px 4px #5422BE;
          box-shadow: 0px 0px 5px 4px #5422BE;
}
@media (max-width: 1310px) {
  .products-section {
    padding-inline: 4rem;
  }
  .products-section .products .product-box .content p {
    padding-inline: 3rem;
  }
}
@media (max-width: 1180px) {
  .products-section {
    margin-top: 7rem;
  }
  .products-section .products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 3rem;
  }
  .products-section .products .product-box {
    width: 100%;
    min-height: 57.813rem;
  }
  .products-section .products .product-box .content .product-preview {
    width: 40%;
  }
}
@media (max-width: 750px) {
  .products-section {
    padding-inline: 2rem;
  }
  .products-section .products .product-box .content {
    font-weight: 0;
    font-size: 1rem;
    line-height: normal;
  }
  .products-section .products .product-box .content .product-preview {
    width: 60%;
  }
  .products-section .products .product-box .content p {
    padding-inline: 2rem;
  }
  .products-section .products .product-box .logo-title img {
    width: 70%;
  }
  .products-section .products .product-box .started-btn {
    font-weight: 0;
    font-size: 1.25rem;
    line-height: normal;
  }
}
@media (max-width: 460px) {
  .products-section .products .product-box .content .product-preview {
    width: 90%;
  }
}

.location {
  margin-top: 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 0;
}
.location .map {
  width: 73.6%;
  height: 65vh;
  border-radius: 8px;
  border: none;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
@media (max-width: 1150px) {
  .location {
    margin-top: 10rem;
  }
}
@media (max-width: 650px) {
  .location {
    margin-top: 7rem;
  }
  .location .map {
    height: 40vh;
  }
}

.hero-section {
  position: relative;
  z-index: 0;
  font-family: var(--primary-font);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-inline: 5rem;
  margin-top: 6rem;
}
.hero-section::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 4rem;
  left: 0rem;
  background: url("./assets/hero-section-ellipse/Ellipse (2).png") no-repeat left/cover;
  width: 22rem;
  height: 35.563rem;
}
.hero-section .hero-content {
  width: 43%;
}
.hero-section .hero-content .hero-heading {
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.5rem;
  color: var(--primary-color);
  font-family: var(--primary-font);
}
.hero-section .hero-content .hero-heading span {
  color: rgba(255, 44, 234, 0.7803921569);
}
.hero-section .hero-content .hero-discription {
  color: var(--primary-color);
  margin-block: 2.1rem;
  font-size: 1.25rem;
}
.hero-section .hero-content .hero-btn {
  width: 65%;
}
.hero-section .hero-img {
  position: relative;
}
.hero-section .hero-img .circle {
  position: absolute;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
.hero-section .hero-img .circle1 {
  background-image: url("./assets/hero-section-ellipse/circle-ellipse-1.png");
  width: 13.5rem;
  height: 7.5rem;
  right: 0rem;
  top: 1.437rem;
}
.hero-section .hero-img .circle2 {
  background-image: url("./assets/hero-section-ellipse/circle-ellipse-2.png");
  width: 7rem;
  height: 2.3rem;
  left: 1.875rem;
  top: 1.125rem;
}
.hero-section .hero-img .circle3 {
  background-image: url("./assets/hero-section-ellipse/circle-ellipse-3.png");
  width: 6.5rem;
  height: 4.5rem;
  left: 0rem;
  top: 5.813rem;
}
.hero-section .hero-img .circle4 {
  background-image: url("./assets/hero-section-ellipse/circle-ellipse-4.png");
  width: 4.063rem;
  height: 1.188rem;
  left: -2.188rem;
  bottom: 6rem;
}
@media (max-width: 1180px) {
  .hero-section {
    padding-inline: 3rem;
  }
  .hero-section .hero-content {
    width: 55%;
  }
}
@media (max-width: 1000px) {
  .hero-section {
    padding-inline: 5rem;
  }
  .hero-section .hero-content {
    width: 100%;
  }
  .hero-section .hero-content .hero-btn {
    width: 70%;
  }
  .hero-section .hero-img {
    display: none;
  }
}
@media (max-width: 720px) {
  .hero-section {
    padding-inline: 3rem;
  }
}
@media (max-width: 550px) {
  .hero-section {
    padding-inline: 1rem;
  }
}

.courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
  margin-top: 9rem;
  padding-inline: 5rem;
  position: relative;
  z-index: 0;
  min-height: 25rem;
}
.courses .course-content {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.75rem;
  color: var(--primary-color);
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
}
.courses .course-content button {
  width: 80%;
}
.courses .course-video {
  width: 50%;
}
.courses .course-video video {
  border-radius: 2rem;
  width: 100%;
}
@media (max-width: 1000px) {
  .courses {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .courses .course-content {
    width: 100%;
  }
  .courses .course-content button {
    width: 100%;
  }
  .courses .course-video {
    width: 100%;
  }
  .courses button {
    width: 52rem;
  }
}
@media (max-width: 600px) {
  .courses {
    padding-inline: 2rem;
    margin-top: 6rem;
    gap: 2rem;
  }
  .courses .course-content {
    font-weight: 0;
    font-size: 1.5rem;
    line-height: normal;
  }
}

.security-cultures {
  font-family: var(--primary-font);
  padding-inline: 4rem;
  margin-top: 7rem;
  position: relative;
  z-index: 0;
}
.security-cultures::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -5.313rem;
  left: 0rem;
  background: url("./assets/security-culture-ellipse/Ellipse (3).png") no-repeat left/cover;
  width: 21rem;
  height: 28.563rem;
}
.security-cultures::after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -3.313rem;
  right: 0rem;
  background: url("./assets/security-culture-ellipse/Ellipse (4).png") no-repeat right/cover;
  width: 20.5rem;
  height: 47.5rem;
}
.security-cultures .sec-heading {
  font-family: var(--primary-font);
  font-weight: 600;
  color: var(--primary-color);
  font-size: 2.5rem;
  text-align: center;
}
.security-cultures .sec-cards {
  background-color: var(--sec-card-container);
  border-radius: 20px;
  margin-top: 2.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 4rem;
}
.security-cultures .sec-cards div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  width: 36.6%;
  border-radius: 20px;
  padding: 2rem;
  min-height: 21.375rem;
  color: var(--primary-color);
  background: var(--sec-card);
  text-align: center;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.security-cultures .sec-cards div:hover {
  -webkit-box-shadow: 0px 0px 9px 4px var(--primary-color);
          box-shadow: 0px 0px 9px 4px var(--primary-color);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}
.security-cultures .sec-cards div img {
  height: 8rem;
  width: 8rem;
}
.security-cultures .sec-cards div .heading {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.125rem;
}
.security-cultures .sec-cards div .content {
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.125rem;
}
@media (max-width: 1000px) {
  .security-cultures {
    padding-inline: 2rem;
  }
  .security-cultures .sec-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  .security-cultures .sec-cards div {
    width: 100%;
    min-height: 18.375rem;
  }
}
@media (max-width: 700px) {
  .security-cultures {
    padding-inline: 2rem;
  }
  .security-cultures .sec-cards {
    padding: 2rem 1.5rem;
  }
}
@media (max-width: 570px) {
  .security-cultures .sec-heading {
    font-size: 1.5rem;
  }
}